:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg,
      #377fed 10%,
      #47be29);
  --vp-home-hero-image-background-image: none;
}

#VPNavBar .content {
  padding-right: 0 !important;
}

#VPNavBar .content-body {
  padding-right: 2rem !important;
}

hr {
  display: none;
}

.MathJax {
  position: relative;
  min-width: 1.4rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  text-align: center;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

figure figcaption {
  margin-top: 0.875rem;
  color: var(--vp-c-text-3);
  font-size: 0.875rem;
  font-weight: 400;
}

figure figcaption a {
  color: var(--vp-c-text-3) !important;
}

.vp-doc .reveal h2 {
  border-top: none;
}